{
  "reporter": [
    "lcov",
    "text"
  ],
  "exclude": [
      "src/**/*.spec.js",
      "src/**/*.babel.js"
  ],
  "include": [
      "src/**/*.js"
  ],
  "require": [
    "@babel/register"
  ],
  "sourceMap": false,
  "instrument": false
}